{% extends "base.html" %}

{% block title %} {{pet["name"]}}'s Details {% endblock %}

{% block content %}
<!-- Image of pet -->
<div style="float: left; border-style: double">
  <img src="{{url_for('static', filename = pet.id|string+".jpg")}}" height="350">
  {% if 'user' in session %}
  <p>
    <button class="btn btn-danger" ,
      onclick="location.href='{{ url_for('delete_pet', pet_id = pet.id)}}'">Delete</button>
  </p>
  {% endif %}
</div>
<div style="float: left; margin: 10px">
  <h1 class="title">{{ pet.name }}</h1>
  <p><b>Age: &nbsp;</b> {{pet.age}}</p>
  <p><b>Bio: &nbsp;</b> {{pet.bio}}</p>
  <hr>


  {% if 'user' in session %}
  <!-- Edit Details Form -->
  <form action="{{ url_for('pet_details', pet_id = pet.id) }}" , method="POST" style="padding:5px">
    {{ form.csrf_token }}

    {{ form.name.label }}
    <br>
    {{ form.name(value = pet.name)}}
    <br>
    {{ form.age.label }}
    <br>
    {{ form.age(value = pet.age)}}
    <br>
    {{ form.bio.label }}
    <br>
    {{ form.bio(value = pet.bio)}}
    <br>
    <br>
    {{ form.submit}}
  </form>
  {% endif %}

  {% if message %}
  <b> {{ message }} </b>
  {% endif %}
</div>
{% endblock %}