{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block heading %}
Login
{% endblock %}

{% block content %}

{% if message %}
    <b> {{ message }} </b>
{% endif %}

{% if form %}
<form action="{{url_for('login')}}" method="POST" style="padding:5px;">
    <!-- Email Field -->
    <div class="mb-3">
        {{ form.email.label(class_ = 'form-label') }}
        {{ form.email(class_='form-control') }} 
        <div class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <!-- Email Errors -->
    {% if form.email.errors %}
        <ul class="list-group"></ul>
            {% for error in form.email.errors %}
                <li class="list-group-item list-group-item-danger">{{ error }}</li>
            {% endfor %}
        </ul>       
    {% endif %}

    <!-- Password Field -->
    <div class="mb-3">
      {{ form.password.label(class_='form-label') }}
      {{ form.password(class_='form-control') }}
    </div>
    <!-- Password Errors -->
    {% if form.password.errors %}
        {% for error in form.password.errors %}
        <ul class="list-group">
          <li class="list-group-item list-group-item-danger">{{ error }}</li>
        </ul>
        {% endfor %}
    {% endif %}

    {{ form.csrf_token }}
    {{ form.submit(class_='btn btn-primary') }}
</form> 
{% endif %}
{% endblock %}