{% extends "base.html" %}

{% block title %} Sign Up {% endblock %} 

{% block heading %} Sign Up {% endblock %} 

{% block content %}

{% if form %}
<form action="{{url_for('sign_up')}}" method="POST" style="padding:5px;">
    <!-- Full Name Field -->
    <div class="mb-3">
        {{ form.name.label(class_='form-label') }}
        {{ form.name(class_='form-control') }}
    </div>
    <!-- Email Field -->
    <div class="mb-3">
        {{ form.email.label(class_='form-lable') }}
        {{ form.email(class_='form-control') }}
    </div>
    <!-- Email Field Errors-->
    {% if form.email.errors %}
        <ul class="list-group">
            {% for error in form.email.errors %}
                <li class="list-group-item list-group-item-danger">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <!-- Password Field -->
    <div class="mb-3">
        {{ form.password.label(class_='form-label') }}
        {{ form.password(class_='form-control') }}
    </div>
    <!-- Conform Password Field -->
    <div class="mb-3">
        {{ form.confirmPassword.label(class_='form-label') }}
        {{ form.confirmPassword(class_='form-control') }}
    </div>
    <!-- Conform Password Field -->
    {% if form.confirmPassword.errors %}
        <ul class="list-group">
            {% for error in form.confirmPassword.errors %}
                <li class="list-group-item list-group-item-danger">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
  
    <!-- Hidden CSRF Token Field -->
    {{ form.csrf_token }}<br />
  
    <!-- Submit Field -->
    {{ form.submit(class_='btn btn-primary') }}
</form>
{% endif %}

<!-- Display message if succesfully logged in -->
{% if message %}
{{message}}
{% endif %}

{% endblock %}
